body{
    margin: 0;
    padding: 0;
}
header{
    background-color: gainsboro;
}
nav{
    background-color: aquamarine;
}
article{
    background-color: blueviolet;

}
aside{
    background-color: royalblue;
}
footer{
    background-color: antiquewhite;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header, nav{
    flex: 1;
}
section{
    display: flex;
    flex-direction: row;
    flex: 1;
}
article{
    flex: 1;
}
aside{
    flex: 1;
}
h1, h2{
    margin: 0;
}
footer{
    display: flex;
    flex-direction: row;
}
footer div{
    flex: 1;
}